body {
   background: pink;
}

.center {
   text-align: center;
}

.pink {
   background: #f97492 !important;
}
nav {
   background: #ea1f62;
   font-size: 3em;
   margin-bottom: 20px;
}
#message {
   font-size: 2em;
}

* {
   color: white;
}

ol {
   padding: 0px;
   font-size: 20px;
}

.card-title {
   border-bottom: pink solid;
   font-size: 2em !important;
   font-weight: normal !important;
}

p {
   font-size: 20px;
   margin: 0;
}

.pink {
   background: #e86482
}

.fine {
   font-size: 10em;
   text-align: center;
   width: 100%;
   position: absolute;
   top: 30%;
}

#jon {
   font-size: 4px;
   position: fixed;
   top: 0;
   left: 10px;
   color: pink;
}