body {
   background: pink;
}

.center {
   text-align: center;
}

.pink {
   background: #f97492 !important;
}
nav {
   background: #ea1f62;
   font-size: 3em;
   margin-bottom: 20px;
}
#message {
   font-size: 2em;
}

* {
   color: white;
}

ol {
   padding: 0px;
}

.card-title {
   border-bottom: pink solid;
}

p {
   font-size: 20px;
   margin: 0;
}

.pink {
   background: #e86482
}

.fine {
   font-size: 10em;
   text-align: center;
   width: 100%;
   position: absolute;
   top: 30%;
}